* {
   -webkit-font-smoothing: \
      antialiased;
   font-family: "Helvetica Neue", \
      Helvetica, sans-serif !important;
   color: #444;
}
a {
   border-bottom: 1px dotted #65a2ef;
   color: #0064e5 !important;
}
a:visited { border: 0; }
a:hover {
   border-color: #cfe2fa;
   color: #4c9bff !important;
}
p, li {
   font-size: 14px;
   line-height: 21px;
}
#article { width: 619px; }
#background { background-color: \
   rgba(0, 0, 0, 0.9); }
#container { margin-left: -333px; }
#drop-shadow { width: 600px; }
.page {
   background: #F6F6F6;
   width: 458px;
}